<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش
</font>
</h1>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در نخستین گام از پروژه‌ی نهایی یک سری مراحل پیش‌پردازش را بر روی داده‌ها اعمال خواهید کرد تا مجموعه‌داده‌ی باکیفیت‌تری را برای مراحل بعدی پروژه آماده کنید. علاوه بر این طبق همین مراحل به چند پرسش تحلیلی هم پاسخ خواهید داد.
</font>
</p>

   
<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کتابخانه‌ها
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
       ابتدا کتابخانه‌های مورد نیاز خود را فرا بخوانید.
</font>
</p>

In [1]:
import numpy as np
import pandas as pd

C:\Users\Poumi008\AppData\Local\Temp\ipykernel_7848\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd


<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مجموعه‌داده
</font>
</h2>



<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    داده‌های این پروژه به‌صورت یک فایل اکسل در فایلی به نام <code>sales.xlsx</code> در اختیار شما قرار گرفته و توضیحات ستون‌های مجموعه‌داده در جدول زیر آمده است. در ابتدا این داده‌ها را در قالب یک دیتافریم بخوانید.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|<code>InvoiceNumber</code>|	یک شماره‌ی ۶ رقمی که به‌طور منحصر به فرد به هر فاکتور اختصاص یافته است. اگر ابتدای این شماره با حرف C شروع شود، به این معنی است که آن فاکتور لغو شده است.|
|<code>ProductCode</code>|یک شماره‌ی ۵ رقمی که به‌طور منحصر به فرد به هر نوع محصول اختصاص یافته است.|
|<code>ProductName</code>|نام محصول|
|<code>Quantity</code>|تعداد سفارش از یک نوع محصول در فاکتور|
|<code>InvoiceDate</code>|تاریخ ایجاد فاکتور|
|<code>UnitPrice</code>|قیمت یک نوع محصول به ازای یک واحد از آن|
|<code>CusotmerId</code>|یک شماره‌ی ۵ رقمی که به‌طور منحصر به فرد به هر مشتری اختصاص یافته‌ است.|
|<code>Country</code>|نام کشور محل سکونت مشتری|

</font>
</div>
</center>

In [2]:
df = pd.read_excel("sales.xlsx")
df.head()

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت اول    
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>    
    ابتدا فاکتورهایی که شناسه مشتری (<code>CustomerId</code>) آن‌ها موجود نیست را حذف کنید.
    این کار را بر روی یک کپی از دیتافریم به نام <code>df_no_missing_CustomerId</code> انجام دهید.
    
</font>
</p>

In [3]:
df_no_missing_CustomerId = df.copy()

df_no_missing_CustomerId = df_no_missing_CustomerId.dropna(subset = ["CustomerId"], how = "any")

df_no_missing_CustomerId.head()

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

   
<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت دوم    
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>    
سپس از بین سطر‌هایی که تمامی مقادیر آن‌ها تکراری هستند، فقط یک سطر را نگه دارید. این کار را بر روی یک کپی از دیتافریم قبل با نام <code>df_no_duplicate</code> انجام دهید.
</font>
</p>

In [4]:
df_no_duplicate = df_no_missing_CustomerId.copy()

df_no_duplicate = df_no_duplicate.drop_duplicates()

df_no_duplicate.head()

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت سوم    
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>        
همچنین سطرهایی که قیمت (<code>UnitPrice</code>) آن‌ها صفر یا عددی منفی است را نیز از مجموعه‌داده حذف کنید. به‌عبارت دیگر تنها سطرهایی که قیمت‌شان مثبت است را نگه دارید. این کار را بر روی یک کپی از دیتافریم قبل با نام <code>df_no_missing_price</code> انجام دهید.
</font>
</p>

In [5]:
df_no_missing_price = df_no_duplicate.copy()

df_no_missing_price["plus"] = df_no_missing_price["UnitPrice"].apply(lambda x: 1 if x > 0 else 0)
bool_is_plus = df_no_missing_price["plus"] > 0
df_no_missing_price = df_no_missing_price[bool_is_plus]
df_no_missing_price.drop(columns=["plus"], inplace=True)
df_no_missing_price.head()

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت چهارم
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اکنون طبق داده‌هایی که در مرحله‌ی قبل به دست آمدند (دیتافریم <code>df_no_missing_price</code>)، محاسبه کنید که چند درصد از کل سفارش‌ها لغو شده‌اند و عدد رُند شده‌ی آن را در متغیری به نام <code>percentage_cancelled_orders</code> ذخیره کنید. که چند درصد از کل سفارش‌ها، لغو شده‌اند.
</font>
</p>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
<span style="color:green"><b>راهنمایی ۱:</b></span>
چون ممکن است یک سفارش شامل بیش از یک محصول باشد، این احتمال وجود دارد که شناسه‌ی یک سفارش در چند ردیف تکرار شده باشد. برای محاسبه‌ی درصد سفارشات لغوشده، باید هر سفارش را تنها یک‌بار لحاظ کنید.
<br>
<span style="color:green"><b>راهنمایی ۲:</b></span>
در صورتی‌که مقدار ستون <code>InvoiceNumber</code> با حرف <code>C</code> شروع شده باشد به این معنی‌ست که آن سفارش لغو شده است.
<br>
<span style="color:green"><b>راهنمایی ۳:</b></span>
برای رُند کردن عدد از <code>round</code> استفاده کنید تا به‌عنوان مثال اگر عدد حاصل ۲۹/۸۷ درصد بود به عدد ۳۰ تبدیل شود.
<br>

</font>
</p>

In [9]:
no_duplicate = df_no_missing_price.drop_duplicates(subset= ["InvoiceNumber"])
bool_is_canceled = no_duplicate["InvoiceNumber"].apply(lambda x: True if ((str)(x)).__contains__("C") else False)
pure_percentage = (bool_is_canceled.sum()) / len(bool_is_canceled) * 100
percentage_cancelled_orders = round(pure_percentage)
percentage_cancelled_orders

19

In [19]:
no_duplicate.loc[178:179]

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia

In [17]:
no_duplicate[no_duplicate["InvoiceNumber"] == "C489449"]

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia

In [23]:
bool_is_canceled.loc[178:181]

178    True
Name: InvoiceNumber, dtype: bool

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت پنچم</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>  
در این قسمت باید به کمک دیتافریم <code>df_no_missing_price</code> پنج مشتری با بیشترین تعداد دفعات لغو سفارش را پیدا کرده و شناسه‌های آن‌ها را در قالب یک لیست (به‌ترتیب نزولی) در متغیر <code>top_cancelling_customers</code> ذخیره کنید. توجه داشته باشید که مقادیر ستون <code>CustomerId</code> از جنس عدد <code>float</code> هستند اما مقادیر لیست خروجی شما باید از جنس رشته (<code>str</code>) باشند.
</font>
</p>


<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
<span style="color:green"><b>راهنمایی:</b></span>
در این قسمت هم به احتمال تکراری بودن شناسه‌ی سفارش‌ها دقت کنید. برای هر مشتری باید تعداد سفارش‌های یکتای لغوشده را محاسبه کنید.
</font>
</p>

In [24]:
cancelled_df = no_duplicate[bool_is_canceled]
group_cancelled_customer = cancelled_df.groupby("CustomerId")
count_cancelling_ser = group_cancelled_customer["InvoiceNumber"].agg("count")
count_cancelling_df = pd.DataFrame(count_cancelling_ser)
count_cancelling_df.reset_index(inplace = True)
count_cancelling_df["CustomerId"] = count_cancelling_df["CustomerId"].astype("str")
count_cancelling_df.sort_values(by= ["InvoiceNumber"], ascending= False, inplace= True)
top_cancelling_customers = [x for x in count_cancelling_df["CustomerId"].head(5)]

In [25]:
cancelled_df

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
196,C489459,90200A,PURPLE SWEETHEART BRACELET,-3,2009-12-01 10:44:00,4.25,17592.0,United Kingdom
285,C489476,22149,FELTCRAFT 6 FLOWER FRIENDS,-6,2009-12-01 10:55:00,2.10,13293.0,United Kingdom
316,C489503,21540,DAIRY MAID CERAMIC BUTTER DISH,-2,2009-12-01 11:04:00,4.25,16011.0,United Kingdom
318,C489504,85083,KISS REINDEER SCANDINAVIAN STOCKING,-6,2009-12-01 11:10:00,2.55,13916.0,United Kingdom
...,...,...,...,...,...,...,...,...
524691,C538121,22461,SAVOY ART DECO CLOCK,-1,2010-12-09 15:36:00,12.75,15535.0,United Kingdom
524692,C538122,22444,GROW YOUR OWN PLANT IN A CAN,-1,2010-12-09 15:38:00,1.25,14696.0,United Kingdom
524693,C538123,22331,WOODLAND PARTY BAG + STICKER SET,-1,2010-12-09 15:41:00,1.65,12605.0,Germany
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50,15329.0,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031.0,United Kingdom

In [30]:
bool = "C489449" in  cancelled_df["InvoiceNumber"].values 
bool

True

In [31]:
cancelled_df["InvoiceNumber"].values

array(['C489449', 'C489459', 'C489476', ..., 'C538123', 'C538124',
       'C538164'], dtype=object)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت ششم 
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>  
اکنون به‌عنوان آخرین مرحله‌ی پیش‌پردازش، ردیف‌های مربوط به سفارش‌های لغو شده را از دیتافریم حذف کنید. برای این کار از یک کپی از دیتافریم <code>df_no_missing_price</code> به نام <code>df_no_canceled_invoice</code> استفاده کنید و تغییرات خود را روی این دیتافریم اعمال کنید.
</font>
</p>

In [32]:
import numpy as np
df_no_canceled_invoice2 = df_no_missing_price.copy()

df_no_canceled_invoice2["light"] = df_no_canceled_invoice2["InvoiceNumber"].apply(lambda x:1 if x in cancelled_df["InvoiceNumber"].values else 0)
bool_isnt_in = df_no_canceled_invoice2["light"] == 0
df_no_canceled_invoice = df_no_canceled_invoice2[bool_isnt_in]
df_no_canceled_invoice.drop(columns = "light", inplace=True)
df_no_canceled_invoice.head()

C:\Users\Poumi008\AppData\Local\Temp\ipykernel_1684\2380226088.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_canceled_invoice.drop(columns = "light", inplace=True)

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom


<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>  
اکنون
دیتافریم پیش‌پردازش‌شده را در فایلی به نام <code>preprocessed_sales.csv</code> ذخیره خواهیم کرد تا در گام‌های بعدی پروژه از این مجموعه‌داده استفاده کنید.
</font>
</p>

In [33]:
df_no_canceled_invoice.to_csv("preprocessed_sales.csv", index=False)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
قسمت هفتم 
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>  
    حال شناسه‌ی سفارش‌های باقی‌مانده (حذف‌نشده) را با ساختار یک سری پانداز (<code>pd.Series</code>) در متغیر <code>remaining_invoices</code> قرار بدهید.
    <br>
    توجه کنید که تمام مقادیر موجود در متغیر <code>remaining_invoices</code> باید منحصر به فرد باشند. به عبارت بهتر، نباید در این متغیر هیچ شناسه‌ی تکراری‌ای وجود داشته باشد.
</font>
</p>

In [ ]:
df_no_canceled_invoice.info()

<class 'pandas.core.frame.DataFrame'>
Index: 408877 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   InvoiceNumber  408877 non-null  object
 1   ProductCode    408877 non-null  object
 2   ProductName    408877 non-null  object
 3   Quantity       408877 non-null  int64
 4   InvoiceDate    408877 non-null  datetime64[ns]
 5   UnitPrice      408877 non-null  float64
 6   CustomerId     408877 non-null  float64
 7   Country        408877 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 28.1+ MB

In [ ]:
group = df_no_canceled_invoice.groupby("InvoiceNumber")
len(group)

23498

In [34]:
df_no_canceled_invoice[df_no_canceled_invoice["InvoiceNumber"] == "C489449"]

Empty DataFrame
Columns: [InvoiceNumber, ProductCode, ProductName, Quantity, InvoiceDate, UnitPrice, CustomerId, Country]
Index: []

In [35]:
no_canceled_unique = df_no_canceled_invoice.InvoiceNumber.unique()
remaining_invoices = pd.Series(no_canceled_unique)

In [36]:
remaining_invoices

0        489434
1        489435
2        489436
3        489437
4        489438
          ...
19208    538167
19209    538168
19210    538169
19211    538170
19212    538171
Length: 19213, dtype: object

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [37]:
import zipfile
import joblib

joblib.dump(percentage_cancelled_orders, "percentage_cancelled_orders")
joblib.dump(top_cancelling_customers, "top_cancelling_customers")

df_no_missing_CustomerId.head(1000).to_csv("df_no_missing_CustomerId.csv", index=False)
df_no_duplicate.head(1000).to_csv("df_no_duplicate.csv", index=False)
df_no_missing_price.head(1000).to_csv("df_no_missing_price.csv", index=False)
df_no_canceled_invoice.head(1000).to_csv("df_no_canceled_invoice.csv", index=False)
remaining_invoices.to_csv("remaining_invoices.csv", index=False)

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)

file_names = ["df_no_canceled_invoice.csv", "df_no_missing_CustomerId.csv", 
              "df_no_duplicate.csv", "df_no_missing_price.csv",
              "percentage_cancelled_orders", "top_cancelling_customers",
              "remaining_invoices.csv", "final_project_1_preprocessing.ipynb"]
compress(file_names)

File Paths:
['df_no_canceled_invoice.csv', 'df_no_missing_CustomerId.csv', 'df_no_duplicate.csv', 'df_no_missing_price.csv', 'percentage_cancelled_orders', 'top_cancelling_customers', 'remaining_invoices.csv', 'final_project_1_preprocessing.ipynb']